@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&family=Source+Serif+Pro&family=Tilt+Prism&display=swap');

body{
    background-color: #888dda;
}

header, h2{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 30px;
    color: #caf729;
}
