:root {
    font-family: Helvetica;
}

body-light-theme {
    background-color: rgba(240, 5, 5, 0.944);
}


li {
    list-style: circle;
}

.list {
    list-style: square;
}

.dark-theme {
    background-color: rgb(10, 51, 37);
    color: rgb(227, 12, 73);
}

.btn:focus { outline-style: none;}

.btn{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 225px;
    top: 208px;
    position: absolute;
    color: rgb(255, 0, 153);
    background-color: rgba(172, 12, 216, 0.47);
}
