*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: rgb(248, 252, 255);
    height: 100vh;
}

.container h1{
    color: #9794F2;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: rgb(15, 2, 2);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #63A1F2;
    min-width: 90px;
}

.separator {
    padding: 10px;
    color: #79D0F2;
}

#miliseconds{
    font-size: 30px;
    color: #F2EFC2;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #F2B6D2;
    transition:  all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: #F2B6D2;
    color: #080802;
}

#pauseBtn, 
#resumeBtn{
    display: none;
}