@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #c210d61b;
    font-family: 'Concert One', sans-serif;
    font-size: 14px;
    background-image: url(comhiclipartfelpr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.relogio{
    border: 2px solid #573e54;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    background-color: #37192c;
    width: 430px;
    height: 230px;
    text-align: center;
    line-height: 200px;
    border-radius: 16px;
    color: #fefefd;
    font-size: 7rem;
    border: 10px solid #6b078a82;
}

footer, a{
    font-size: 1.5rem;
    margin-top: 10px;
    color: #161613;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}